Datos/Connected Services/MFService/MilFraganciasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MilFraganciasService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55592/MilFraganciasService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55592/MilFraganciasService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55592/MilFraganciasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMilFraganciasService_NuevoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevoUsuario" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_NuevoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_EditarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuario" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_EditarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_BuscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_BuscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_MostrarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_MostrarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_AuntentificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AuntentificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IMilFraganciasService_AuntentificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuntentificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IMilFraganciasService">
    <wsdl:operation name="NuevoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilFraganciasService/NuevoUsuario" message="tns:IMilFraganciasService_NuevoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilFraganciasService/NuevoUsuarioResponse" message="tns:IMilFraganciasService_NuevoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilFraganciasService/EditarUsuario" message="tns:IMilFraganciasService_EditarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilFraganciasService/EditarUsuarioResponse" message="tns:IMilFraganciasService_EditarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilFraganciasService/EliminarUsuario" message="tns:IMilFraganciasService_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilFraganciasService/EliminarUsuarioResponse" message="tns:IMilFraganciasService_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilFraganciasService/BuscarUsuario" message="tns:IMilFraganciasService_BuscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilFraganciasService/BuscarUsuarioResponse" message="tns:IMilFraganciasService_BuscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilFraganciasService/MostrarUsuarios" message="tns:IMilFraganciasService_MostrarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilFraganciasService/MostrarUsuariosResponse" message="tns:IMilFraganciasService_MostrarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuntentificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilFraganciasService/AuntentificarUsuario" message="tns:IMilFraganciasService_AuntentificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilFraganciasService/AuntentificarUsuarioResponse" message="tns:IMilFraganciasService_AuntentificarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMilFraganciasService" type="tns:IMilFraganciasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevoUsuario">
      <soap:operation soapAction="http://tempuri.org/IMilFraganciasService/NuevoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap:operation soapAction="http://tempuri.org/IMilFraganciasService/EditarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IMilFraganciasService/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IMilFraganciasService/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IMilFraganciasService/MostrarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuntentificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IMilFraganciasService/AuntentificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MilFraganciasService">
    <wsdl:port name="BasicHttpBinding_IMilFraganciasService" binding="tns:BasicHttpBinding_IMilFraganciasService">
      <soap:address location="http://localhost:55592/MilFraganciasService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>