Datos/Connected Services/MFService/MilFraganciasService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55592/MilFraganciasService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UsuarioE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="ser:char" />
      <xs:element minOccurs="0" name="Contrasenna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioE" nillable="true" type="tns:UsuarioE" />
  <xs:complexType name="ArrayOfUsuarioE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioE" nillable="true" type="tns:UsuarioE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioE" nillable="true" type="tns:ArrayOfUsuarioE" />
</xs:schema>